<html>

<head>
    <title>Form</title>
    <link rel="stylesheet" href="/common.css">
</head>

<body>
    <p>Dept Form.</p>
    

    <div id="deptform">
        <p>{{message}}</p>
        <Form action="/view/dept/get">
            <ul>
                <div v-for="(key1) in fields">
                    <label>{{key1}}</label>
                    <input type="text" v-model="bean[key1]" :name="key1" />
                </div>
                
            </ul>
            
            <button type="submit" >Done</button>
            <button type="button" v-on:click="submitBean()">Done(API)</button>
        </Form>
    </div>
    
    <script src="https://unpkg.com/vue@next"></script>
    <script src="dept.js"></script>
</body>

</html>