<html>

<head>
    <title>Form</title>
    <link href="/common.css" rel="stylesheet">
</head>

<body>
<p>Dept Form.</p>
<div id="navApp"></div>

<div id="deptform">
    <h1>{{message}}</h1>
    <Form action="/view/dept/get">
        <ul>
            <div v-for="(key1) in fields">
                <label>{{key1}}</label>
                <input :name="key1" type="text" v-model="this.bean[key1]"/>
            </div>
        
        </ul>
        
        <button type="submit">Done</button>
        <button type="button" v-on:click="submitBean()">Done(API)</button>
    </Form>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="dept.js"></script>
<script src="../components/navApp.js" type="module"></script>
</body>

</html>