<html>

<head>
    <title>Assign Dept Head</title>
    <link href="/common.css" rel="stylesheet">
</head>

<body>
    <style>
        label {
            text-align: left !important;
        }
    </style>

    <p>Assign instructor to course(from admin/teacher itself for teacher).</p>
    <div id="navApp"></div>

    <div id="deptform">
        <h1>{{message}}</h1>

        <!-- * Select course through filter, select student for teach -->

        <div id="container1" class="">
            <div class="entrylist" id="c_list">
                <p>List of Courses</p>

                <label for="filter_input0">Filter:</label>
                <input id="filter_input0" type="text" v-model="filters[0]" />

                <Select size="7" v-model="selected[0]" v-on:dblclick="select(0)">
                    <Option :value="c" v-for="c in filteredCList">
                        {{c.deptid}}{{c.courseid}} {{c.coursename}}
                    </Option>
                </Select>
            </div>

            <div class="entrylist" id="ac_list">
                <p>List of Staff</p>

                <label for="filter_input1">Filter:</label>
                <input id="filter_input1" type="text" v-model="filters[1]" />

                <Select size="7" v-model="selected[1]" v-on:dblclick="select(1)">
                    <Option :value="ac" v-for="ac in filteredAcList">
                        {{ac.netid}} {{ac.firstname}}, {{ac.lastname}}
                    </Option>
                </Select>

            </div>

            <div class="entrylist" id="e_list">
                <p>List of Assigned pairs</p>

                <label for="filter_input2">Filter:</label>
                <input id="filter_input2" type="text" v-model="filters[2]" />

                <Select size="7" v-model="selected[2]" v-on:dblclick="select(2)">
                    <Option :value="e" v-for="e in filteredEList">
                        {{e.teacherid}}, {{e.deptid}}{{e.courseid}}
                    </Option>
                </Select>
            </div>

            <div id="entryform">
                <div v-for="(key1) in fields">
                    <label>{{key1}}</label>
                    <input :name="key1" type="text" v-model="this.bean[key1]" />
                </div>
                <button type="button" v-on:click="submitBean()">Create/Update</button>
                <button type="button" v-on:click="delBean()">Remove</button>
            </div>
        </div>
        <hr />
        <div id="infobox" class="debug">
            <h4>Info:</h4>
            <p>Current: {{selected}}</p>
            <p>To be Assigned: {{this.bean}}</p>
        </div>
    </div>
    <!--    note="endOfVue"-->

    <script src="https://unpkg.com/vue@next"></script>
    <script src="teach.js"></script>
    <script src="../components/navApp.js" type="module"></script>
</body>

</html>